<button ng-click="getVideo()">getVideo</button>

<!-- <iframe 
  src="http://player.twitch.tv/?video={{getVideo}}"
  height="300" 
  width="300" 
  frameborder="0" 
  scrolling="no"
  allowfullscreen="true">
</iframe> -->

<div ng-repeat="video in videos">
	{{video._id}}
<!-- 	<iframe 
  src="http://player.twitch.tv/?video={{video._id}}"
  height="300" 
  width="300" 
  frameborder="0" 
  scrolling="no"
  allowfullscreen="true"
  autoplay="true">
</iframe> -->
	<!-- {{getIframeSrc()}} -->
</div>
